@import "../../App.scss";

.word {
  padding-top: 7px;
  display: inline;
  padding-bottom: 8px;
  display: inline-block;
  font-size: 20px;
  color: black;
  font-weight: 800;
  position: relative;
  color: var(--color-text);
}

.word-analysis__menu {
  position: absolute;
  right: 0;
  top: -40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  @include defaultButton;
}

.words.edit {
  height: 50vh;
  width: 89vw;
  max-width: 1200px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}

.analysis-word {
  display: flex;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &.verb {
    color: green !important;
  }

  &.noun {
    color: coral;
  }
  &.adjective {
    color: rebeccapurple;
  }
  &.adverb {
    color: khaki;
  }
  &.conjuction {
    color: red;
  }
  &.desu {
    color: deeppink;
  }
  &.particle {
    color: mediumorchid;
  }
  &.prenominal {
    color: teal;
  }
  &.aux {
    color: green;
  }
  &.exclamation {
    color: #e79bff;
  }
}

.analysis-word:hover {
  color: rgb(0, 238, 91);
}

.analysis-word.visible {
  color: rgb(0, 238, 91);
}

.analysis-word.disabled {
  color: red;
}
