// .filter-select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -ms-appearance: none;
//   appearance: none;
//   outline: 0;
//   box-shadow: none;
//   background-image: none;
//   cursor: pointer;
//   width: 12rem;
//   margin: 1rem;
//   position: relative;
//   overflow: hidden;
//   &::after {
//     content: "\25BC";
//     position: absolute;
//     top: 0;
//     right: 0;
//     padding: 1rem;
//     background: #ff6f47;
//     cursor: pointer;
//     pointer-events: none;
//   }
//   border: 2px solid red;
// }

/* Custom Select */

/* Arrow */
/* Transition */
/*
      .select
      */



.filter {
  &-select{
    display: flex;
    margin-left: 10px;
    width: 100px;
    outline: none;
  }

  }
