#custom__text-area {
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-right: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  color: var(--color-text);
  &::placeholder {
    color: var(--placeholder);
  }
}
