@import "../../App.scss";
// .furigana {
//   font-size: 10px;
//   display: inline-block;
//   width: 100%;
//   height: 13px;
// }

.word {
  padding-top: 7px;
  display: inline;
  padding-bottom: 8px;

  .furigana-wrapper {
    padding-left: 4px;
    min-width: 30px;
    position: absolute;
    top: -3px;
    color: var(--color-text);
    visibility: visible;
    display: block;
    height: 11px;
    font-size: 9px;
  }
  .furigana.hidden {
    opacity: 0;
  }
}

.word-analysis__menu {
  position: absolute;
  right: 0;
  top: -40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.words-analysis {
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  margin: 60px auto;
  &__edit {
    cursor: pointer;
  }
  @media (max-height: 896px) {
    & {
      margin: 30px auto;
    }
  }
}

button {
  @include defaultButton;
}

.words {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  border: 2px solid transparent;
  transition: 0.1s all;
  margin-bottom: 50px;
  height: 100%;
  &.FULLTEXT {
    max-width: 1200px;
  }
}
textarea {
  padding: 0;
}

.words.edit {
  height: 50vh;
  width: 89vw;
  max-width: 1200px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}

.word {
  display: inline-block;
  font-size: 20px;
  color: black;
  font-weight: 800;
  position: relative;
  color: var(--color-text);
}
.testAfter {
  display: flex;
  padding: 0;
  margin: 0;
  // height: 25px;
  overflow: hidden;
  cursor: pointer;

  &.verb {
    color: green !important;
  }

  &.noun {
    color: coral;
  }
  &.adjective {
    color: rebeccapurple;
  }
  &.adverb {
    color: khaki;
  }
  &.conjuction {
    color: red;
  }
  &.desu {
    color: deeppink;
  }
  &.particle {
    color: mediumorchid;
  }
  &.prenominal {
    color: teal;
  }
  &.aux {
    color: green;
  }
}

.analysisFormWrapper {
  width: 100%;
  height: 100%;
}
.testAfter:hover {
  color: rgb(0, 238, 91);
}

.testAfter.visible {
  color: rgb(0, 238, 91);
}
