@import "../../App.scss";
.furigana {
  font-size: 10px;
}

.word {
  display: inline-block;
  .furigana-wrapper {
    color: var(--color-text);
    visibility: hidden;
    display: block;
    height: 11px;
    font-size: 9px;
    &.show {
      visibility: visible;
    }
  }
  .furigana.hidden {
    opacity: 0;
  }
  .testAfter-wrapper {
    & p {
      display: inline;
    }
  }
}

.furigana.long {
  letter-spacing: 35px;
  margin-left: 2px;
}

.word-analysis__menu {
  position: absolute;
  right: 0;
  top: -40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.words-analysis {
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  margin: 60px auto;
  &__edit {
    cursor: pointer;
  }
  @media (max-height: 896px) {
    & {
      margin: 30px auto;
    }
  }
}

button {
  @include defaultButton;
}

.words {
  padding: 20px 0;
  border: 2px solid transparent;
  transition: 0.1s all;
  margin-bottom: 50px;
  height: 100%;
}
textarea {
  padding: 0;
}

.words.edit {
  height: 50vh;
  width: 89vw;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}

.word {
  display: inline-block;
  font-size: 20px;
  color: black;
  font-weight: 800;
  position: relative;

  &-card {
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--blur);
    backdrop-filter: blur(9px);
    overflow: scroll;
    display: block;
    position: absolute;
    min-width: 350px;
    height: 350px;
    bottom: 1px;
    bottom: 30px;
    right: 50%;
    left: -150px;
    // margin-bottom: 25px;
    left: calc(50% - 83px);
    z-index: 100;

    &__inner {
      padding-bottom: 10px;
      min-height: 100%;
      font-size: 15px;
      padding: 10px;
      color: var(--color-text);
      display: flex;
      flex-direction: column;
      // align-items: center;
      box-shadow: 0px 8px 18px 0px rgba(34, 60, 80, 0.2);
    }
    &__dictonary-name {
      margin-bottom: 20px;
      display: block;
      text-align: left;
      width: 100%;
      position: relative;
      &::after {
        top: 50%;
        position: absolute;
        content: "";
        width: 53%;
        margin-left: 10px;
        overflow: hidden;
        height: 1px;
        background-color: lightgray;
      }
    }
    &__derivatives,
    &__phrases,
    &__meanings,
    &__main {
      padding-top: 5px;
      margin-top: 12px;
      border-top: 2px solid gray;
      & span {
        display: block;
        margin-top: 8px;
      }
    }
    & i {
      color: green;
    }
  }
  &-card__title {
    margin: 0;
    padding: 0;
    display: inline;
    cursor: pointer;
  }
  &-card.visible {
    left: -150px;

    display: block;
  }

  &-card.visible.bottom {
    top: 35px;
  }
  &-card.visible.top {
    bottom: 30px;
  }
  &-card.visible.left {
    left: -30px;
  }
  &-card.visible.right {
    left: -250px;
  }
}
.testAfter {
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-text);

  &.verb {
    color: green;
  }

  &.noun {
    color: coral;
  }
  &.adjective {
    color: rebeccapurple;
  }
  &.adverb {
    color: khaki;
  }
  &.conjuction {
    color: red;
  }
  &.desu {
    color: deeppink;
  }
  &.particle {
    color: mediumorchid;
  }
  &.prenominal {
    color: teal;
  }
  &.aux {
    color: green;
  }
}

.analysisFormWrapper {
  width: 100%;
  height: 100%;
}
.testAfter:hover {
  color: rgb(0, 238, 91);
}

.testAfter.visible {
  color: rgb(0, 238, 91);
}
