.tools-menu {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

.tool-item {
  & svg {
    fill: var(--color-text);
  }

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 33px;
  width: 43px;
  font-size: 16px;
  border: 2px solid var(--button-color);
  padding: 5px 10px;
  border-radius: 10px;
  // margin-right: 10px;
  cursor: pointer;
  outline: none;
  transition: 0.1s all;
  & input {
    outline: none;
    display: none;
  }
  &.active {
    background: var(--button-color);
    color: var(--inverted-color);

    & svg {
      fill: var(--inverted-color);
    }
  }

  &.disabled {
    border: 2px solid transparent;
    background-color: gray;
    color: var(--inverted-color);

    & svg {
      fill: var(--inverted-color);
    }
  }
  &.button {
    margin: 0;
    padding: 5px 10px;

    & svg {
      fill: var(--inverted-color);
    }

    &:disabled {
      border: 2px solid transparent;
      background-color: gray;
      color: var(--inverted-color);
    }
  }
}
@media (max-width: 600px) {
  .tools-menu {
    justify-content: space-around;
    align-self: center;
    margin: 0 0 15px 0;
  }
}
