
  .main-input,
  .main-output {
    width: 50%;
  }
  
  .main-input {
    position: relative;
    border-right: 1px solid lightgray;
    background: white;

    & form {
      height: 92%;
    }
  }
  
  .main-output {
    background: rgb(238, 238, 238)
  }
  
  .main-input textarea {
    padding: 15px 40px 15px 20px;
    resize: none;
    width: 100%;
    height: 98%;
    border: none;
    outline: none;
  }
  

  .main-input__info {
    position: absolute;
    left: 20px;
  }

  .cancelButton {
    position: absolute;
    right: 5px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
  }