@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300&family=Ubuntu:wght@300;500;700&display=swap");

:root {
  --mainActiveColor: rgb(43, 133, 240);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250, 250, 250);
  font-family: "Open Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.container {
  /* max-width: 1300px;
  margin: 0 auto; */
}

.header {
  width: 100%;
}

.header__inner {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 20px;
  border-bottom: 1px solid lightgray;
}

.header-right {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.burger-menu__button {
  font-size: 12px;
  cursor: pointer;
}

.burger-menu__button div {
  width: 32px;
  height: 3px;
  background-color: gray;
  margin: 6px 0;
}

.header-account__btn {
  padding: 10px 25px;
  background: var(--mainActiveColor);
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.main {
  margin: 0 auto;
  margin-top: 100px;
  width: 70vw;
  border-radius: 20px;
}

.main-inner {
  overflow: hidden;
  border-radius: 20px;
  background: #fff;
  min-height: 300px;
  display: flex;
  box-shadow: 0px 0px 60px 14px rgba(0, 2, 4, 0.2);
}
.main-input,
.main-output {
  width: 50%;
}

.main-input {
  position: relative;
  border-right: 1px solid lightgray;
  background: white;
}

.main-output {
  background: rgb(238, 238, 238)
}

.main-input textarea {
  padding: 15px 20px;
  resize: none;
  width: 100%;
  height: 90%;
  border: none;
  outline: none;
}

.main-output__inner {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  color:dimgrey;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 30%;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 47px -3px rgba(34, 60, 80, 0.2);
}

.main-input__info {
  position: absolute;
  left: 20px;
}

.card p {
  padding: 3px 0;
  border-bottom: 1px solid lightgray;
}

.card p:nth-of-type(3){
  border: none;
}