.card {
  text-align: center;
  color:dimgrey;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 30%;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 47px -3px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}

.card p {
  padding: 3px 0;
  border-bottom: 1px solid lightgray;
}

.card p:nth-of-type(3){
  border: none;
}